.app{
  position: fixed;
  right: 20%;
  left: 20%;
}

@media (max-width: 1200px){
  .app{
    right: 10%;
    left: 10%;
  }
}

@media (max-width: 950px){
  .app{
    padding: 0 20px;
    right: 0;
    left: 0;
  }
}
